.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 1206px;
    height: 80px;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__home {
        margin-right: 73px;
    }

    &__logo {
        width: 26px;
    }
}

.links {
    display: flex;
}

//Модификаторы
.gap {
    &_XXXXII {
        gap: 42px;
    }

    &_XXXIV {
        gap: 34px;
    }
}
