.productivity {
    padding-top: 92px;
    height: 570px;
    text-align: center;
    background: url(../images/backgrounds/productivity.svg);

    &__supheading {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
    }

    &__heading {
        margin-bottom: 28px;
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #3d4f9f;

        &-selection {
            font-weight: 500;
        }
    }

    &__description {
        margin: 0 auto 20px;
        width: 500px;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #8d96bd;
    }

    &__play-icon {
        width: 52px;
    }
}

.customers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
}